<script setup>
import { ref, onMounted } from 'vue';
import Spinner from './Spinner.vue';

const props = defineProps({
  name: String,
});

const emit = defineEmits(['event'])

const loaded = ref(false);
const imgurl = ref('');
const desc = ref ('');
const error = ref (false)
const temp = ref(0);
const feelslike = ref(0)
const type = ref('°C')

const data = ref({})
let url = "http://api.openweathermap.org/data/2.5/weather?q=" + props.name + "&appid=ab3ce49fefd88f7d1913f3272bb48a09&units=metric&lang=pl"

/*const sleep = async (milliseconds) => {
    await new Promise(resolve => {
        return setTimeout(resolve, milliseconds)
    });
};

const testSleep = async () => {
    console.log('Step 1 - Called');
    await sleep(5000);
    console.log('Step 2 - Called');

}*/

function load(){
  fetch(url)
    .then(response => response.json())
    .then(result => {
      data.value = result;
      imgurl.value = `https://openweathermap.org/img/wn/${result.weather[0].icon}@2x.png`;
      emit('event', result.weather[0].icon);
      desc.value = result.weather[0].description[0].toUpperCase() + result.weather[0].description.slice(1);
      temp.value = result.main.temp;
      feelslike.value = result.main.feels_like;
      loaded.value = true;

    })
    .catch(e => {
      console.error("Error fetching data:", e);
      loaded.value = true;
      error.value = true;
    });
}

load();

function calculate(){
  if(type.value == '°C') {
    temp.value = ((temp.value * 9/5) + 32).toFixed(2);
    feelslike.value = ((feelslike.value * 9/5) + 32).toFixed(2);
    type.value = '°F';
  }
  else if (type.value == '°F') {
    temp.value = ((temp.value - 32) * 5/9).toFixed(2);
    feelslike.value = ((feelslike.value - 32) * 5/9).toFixed(2);
    type.value = '°C'
  }
}

</script>

<template>
  

  <div class="rounded-md flex flex-col bg-white text-black border-gray-500 border-4 h-80 w-60">

    <Spinner class="m-auto" v-if="!loaded"/>
    <div v-else>
      <div v-if="!error">
        <div class="text-4xl text-center h-fit w-full">{{ data.name }}</div>
        <div class="flex ml-2 mr-auto">
        <img class="":src="imgurl" alt="">
        <div class="mt-auto mb-auto  w-fit text-3xl"> {{temp}}{{type}} </div>
        </div>
        <div class="text-xl ml-auto mr-auto text-center">
          {{ desc }}
        </div>
        <div class="text-sm text-center m-auto">
          <div class="mt-0.5">Temperatura odczuwalna: {{feelslike}}{{type}}</div>
          <div class="mt-0.5">Wiatr: {{data.wind.speed}}km/h</div>
          <div class="mt-0.5">Wilgotność: {{ data.main.humidity }}%</div>
          <div class="mt-0.5">Ciśnienie: {{ data.main.pressure }}hPa</div>
          <div class="mt-0.5">Zachmurzenie: {{ data.clouds.all }}%</div>                    
        </div>
        <div>
          <button @click="calculate" class="ml-[30%]">Przelicz na <span v-if="type == '°C'">°F</span> <span v-else>°C</span></button>
        </div>

      </div>
        
      <div v-else class="text-4xl text-center w-full h-fit">
      Nie znaleziono
      </div> 
    </div> 

    
  </div>
  
</template>

<style scoped>

</style>
