<script setup>
    import WeatherCard from './components/WeatherCard.vue';
import { ref } from 'vue';

const cityName = ref('Warszawa');
const key = ref(0);

function refreshCard() {
  key.value += 1;
}

function changeBg(iconid) {
    if(iconid == '01d' || iconid == '02d') {
        document.body.classList.add('bg-gradient-to-r', 'from-orange-100', 'to-orange-200', 'bg-opacity-35');
    }
    else if(iconid == '01n' || iconid == '02n') {
        document.body.classList.add('bg-gradient-to-r', 'from-slate-400', 'to-slate-500', 'bg-opacity-35');
    }
    else if(iconid == '03d' || iconid == '04d' || iconid == '50d') {
        document.body.classList.add('bg-gradient-to-r', 'from-slate-200', 'to-slate-300', 'bg-opacity-35');
    }
    else if(iconid == '03n' || iconid == '04n' || iconid == '50n') {
        document.body.classList.add('bg-gradient-to-r', 'from-zinc-400', 'to-zinc-500', 'bg-opacity-35');
    }
    else if(iconid == '09d' || iconid == '10d' || iconid == '11d') {
        document.body.classList.add('bg-gradient-to-r', 'from-blue-400', 'to-blue-500', 'bg-opacity-35');
    }
    else if(iconid == '09n' || iconid == '10n' || iconid == '11n') {
        document.body.classList.add('bg-gradient-to-r', 'from-sky-800', 'to-sky-900', 'bg-opacity-35');
    }
    if(iconid == '11d') {
        document.body.classList.add('bg-gradient-to-r', 'from-cyan-100', 'to-cyan-200', 'bg-opacity-35');
    }
    if(iconid == '11n') {
        document.body.classList.add('bg-gradient-to-r', 'from-cyan-600', 'to-cyan-700', 'bg-opacity-35');
    }

}
</script>

<template>
    <div class="justify-center min-h-screen">
        <div class="h-fit w-fit m-auto mt-[10vh]">
            <WeatherCard @event="changeBg" :name="cityName" :key="key"></WeatherCard>
            <input v-model="cityName" type="text" class="rounded-md  bg-white text-black border-gray-500 border-4">
            <button @click="refreshCard" class="rounded-md bg-white text-black border-gray-500 border-4">Szukaj</button>
        </div>
    </div>

</template>

<style scoped>

</style>
